@import url("https://fonts.googleapis.com/css2?&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
:root {
  /* colors */
  --color-white-: #fff;
  --color-1st-: hsl(10, 100%, 64%);
  --color-2nd-: hsl(10, 61%, 45%);
  --color-3rd-ash-: hsl(10, 19%, 58%);
  --color-dark-: hsl(300, 100%, 2%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", "Nanum Gothic";
  width: 100vw;
  max-width: 968px;
  height: 100vh;
  margin: auto;
  background-image: linear-gradient(
    var(--color-1st-),
    40%,
    var(--color-dark-) 100%
  );
  color: var(--color-white-);
}

form {
  margin: auto;
}

::selection {
  background-color: var(--color-dark-);
  color: var(--color-white-);
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 2rem;
}

input[type="text"] {
  margin: auto;
  max-width: 330px;
  margin-top: 1rem;
  padding: 1rem;
  color: var(--color-white-);
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  border-bottom: solid var(--color-white-);
}

.place_new_todo > input[type="text"] {
  width: 100%;
}

form input[type="text"]::placeholder {
  color: var(--color-white-);
}

form input[type="text"]:focus {
  outline: 0;

  box-shadow: var(--color-white-) 0px 0px 10px 1px;
  background-color: var(--color-white-);
  color: hsl(10, 61%, 45%);
}

.ri-arrow-right-s-line {
  font-size: 3rem;
  position: absolute;
  top: 35%;
  left: -13%;
  text-shadow: 0px 0px 15px var(--color-white-),
    0px 0px 15px var(--color-white-);
  display: none;
}

.arrow-show {
  display: block;
}

.imgs {
  display: flex;
  justify-content: center;
}

.imgs_overlay:first-child {
  width: 300px;
  height: 420px;
  overflow: hidden;
  background-color: var(--color-white-);
  position: absolute;
  top: -120px;
  left: -100px;
  mix-blend-mode: overlay;
  filter: opacity(0.8);
  transform: translate(50%, 50%);
  z-index: -1;
}

.imgs_overlay:last-child {
  width: 260px;
  height: 320px;
  background-size: cover;
  background-color: var(--color-2nd-);

  overflow: hidden;
  top: 100px;
  left: 70px;
  transform: translate(50%, 50%);
  position: absolute;
  z-index: -1;
}

.imgs_overlay:first-child img {
  height: 100%;
  width: auto;
  position: absolute;
  left: -50%;
}
.imgs_overlay:last-child img {
  width: 130%;
  height: auto;
  filter: opacity(0.8);
}

/* ****** DATA SECTION ****** */
/* data div/section */
div[class="data"] {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 4rem;
}

div[class="data"] section {
  width: 30%;
  min-width: 330px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 0.5rem;
  /* box-shadow: rgba(255, 255, 255, 0.5) 0px 4px 8px -2px,
    rgba(255, 255, 255, 0.8) 0px 0px 0px 1px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

/* data - date */
section[class="data_date"],
section[class="data_todo"] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

section[class="data_date"] h1 {
  font-size: 2rem;
}

section[class="data_date"] h1:nth-child(2) {
  font-size: 3.5rem;
}

/* data - paint todo*/

section[class="data_todo"] div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  vertical-align: middle;
}
section[class="data_todo"] div p {
  font-size: 2rem;
}

section[class="data_todo"] div button {
  cursor: pointer;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  color: var(--color-white-);
}

/* media  */
section[class="data_media"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section[class="data_media"] .music_img_overlay,
section[class="data_media"] .music_img_outlines,
section[class="data_media"] .music_btn {
  margin-top: 2rem;
}

.music_img_overlay {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: rotateImg 10s infinite linear;
  border: solid 1px var(--color-white-);
}

.music_img_outlines {
  position: absolute;
  z-index: 1;
  top: 19px;
}

.music_img_outlines div {
  overflow: hidden;
  border-radius: 50%;
}

.music_img_outlines div:first-child {
  width: 95px;
  height: 95px;
  border: solid 1px var(--color-white-);
  border-style: dashed;
  position: relative;
}

.music_img_outlines div:nth-child(2),
.music_img_outlines div:last-child {
  width: 125px;
  height: 125px;
  border: solid 1px var(--color-white-);
  border-style: ridge;
  position: absolute;
  top: -15px;
  left: -15px;
}

.music_img_outlines div:last-child {
  animation: lighting 2s infinite;
  box-shadow: var(--color-white-) 0px 0px 30px;
}

.animation_pause {
  animation-play-state: paused;
}

@keyframes rotateImg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes lighting {
  0% {
    box-shadow: var(--color-white-) 0px 0px 20px;
  }

  55% {
    box-shadow: var(--color-white-) 0px 0px 10px;
  }

  100% {
    box-shadow: var(--color-white-) 0px 0px 20px;
  }
}

.music_btn {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;
  z-index: 1;
}

.music_btn i {
  cursor: pointer;
}

.music_img_overlay img {
  width: 120%;
}

.music_info {
  margin-top: 2rem;
  text-align: center;
}
